/* [Table of content]
=================

[01] 1290px Css
[02] 1440px Css
[03] 1630px Css
[04] 1599px Css
[05] 1429px Css
[06] 1199px Css
[07] 991px Css
[08] 767px Css
[09] 575px Css
[10] 479px Css
[11] 349px Css

====================
[ End table of content]
====================*/


/* [01] 1290px Css START HERE */
@media only screen and (min-width: 1430px) {}

/* [01] 1290px Css End HERE */

/* [02] 1440px Css START HERE */
@media only screen and (min-width: 1600px) {}

/* [02] 1440px Css End HERE */

/* [03] 1630px Css START HERE */
@media only screen and (min-width: 1800px) {}

/* [03] 1630px Css End HERE */

/* [04] 1599px Css START HERE */
@media only screen and (max-width: 1599px) {
    .log-in-box {
        margin: 0 auto;
    }

    .login-background {
        padding: 42px 0;
    }

    .how-work-line:after {
        top: 160px;
    }

    ul.how_it_work li:nth-child(1) {
        margin-top: 155px;
    }

    ul.how_it_work li:nth-child(2) {
        margin-top: 165px;
    }

    ul.how_it_work li:nth-child(3) {
        margin-top: 80px;
    }

    ul.how_it_work li:nth-child(4) {
        margin-top: 90px;
    }

    .home-slider-img:after {
        right: 20px;
        background-position: bottom;
        width: 50%;
    }

    .expert-box {
        padding: 20px;
    }

    .green-box:after {
        width: 95%;
    }

    .contact-box {
        box-shadow: 0px 14px 70px 0px rgb(128 187 231 / 20%);
    }

    .news-info h5 {
        font-size: 20px;
    }

    .contact-section {
        padding: 40px 0 100px;
    }

    .home-vedio a {
        width: 120px;
        height: 120px;
    }

    .contact-section h2.main-title {
        margin-bottom: 80px;
    }

    .about_us_margin {
        padding-top: 100px;
    }
    .doctor-wrap {
        padding-left: 15px;
    }
    
    .doctor-info {
        max-width: 100%;
    }
    
    .doctor-profile-item {
        margin: 5px;
    }
    
    .home-slider-img2 {
        background-position: 75% 100%;
        height: 820px;
    }
    
    .department-pills {
        margin-top: 60px;
    }
    .home-slider-img3{
        height: 780px;
    }
}

/* [04] 1599px Css End HERE */

/* [05] 1429px Css START HERE */
@media only screen and (max-width: 1429px) {
    .nav-item {
        margin: 0 0 0 30px;
    }

    .department-slider-info .slider-title {
        font-size: 52px;
    }

    .inner-slider-img {
        height: 440px;
    }

    .product-header-wrap h4 {
        font-size: 28px;
    }

    .product-header-wrap {
        margin-bottom: 20px;
    }

    .product-list-info h6 {
        font-size: 22px;
    }

    .product-list-info p {
        font-size: 20px;
    }

    .heart-icon {
        font-size: 26px;
    }

    .log-in-box h4 {
        font-size: 24px;
        margin-bottom: 8px;
    }

    .log-in-box p {
        font-size: 16px;
    }

    .input-control input {
        height: 60px;
        font-size: 16px;
    }

    .btn-green3 {
        font-size: 18px;
    }

    .create-new span {
        font-size: 16px;
    }

    .create-new a {
        font-size: 16px;
    }

    .log-in-box {
        padding: 40px;
        max-width: 450px;
    }

    .login-background {
        padding: 70px 0;
    }

    .input-control span {
        font-size: 18px;
    }

    .search-box {
        width: 100%;
        max-width: 590px;
        padding: 22px 0;
        margin: -39px auto 0;
    }

    h2.main-title {
        font-size: 38px;
    }

    .doc-page-item-info h6 {
        font-size: 24px;
    }

    .doc-page-item-info span {
        font-size: 18px;
    }

    .pricing-item {
        width: 33.33%;
    }

    .work-info h3 {
        font-size: 54px;
    }

    .work-info h5 {
        font-size: 20px;
    }

    .work-icon {
        width: 120px;
        height: 120px;
    }

    .work-icon img {
        width: 54px;
        height: 54px;
    }

    .how-work-line:after {
        top: 140px;
    }

    ul.how_it_work li:nth-child(1) {
        margin-top: 120px;
    }

    ul.how_it_work li:nth-child(2) {
        margin-top: 160px;
        right: 0;
    }

    ul.how_it_work li:nth-child(3) {
        margin-top: 70px;
        right: 0;
    }

    ul.how_it_work li:nth-child(4) {
        right: -20px;
        margin-top: 200px;
    }

    .error-section h2 {
        font-size: 300px;
    }

    .error-section h6 {
        font-size: 24px;
    }

    .error-section p {
        font-size: 16px;
    }

    .about-info {
        padding-left: 20px;
    }

    .home-slider-img {
        height: auto;
        min-height: 700px;
    }

    .home-slider-img:after {
        right: 0;
    }

    .expert-profile {
        width: 70px;
        height: 70px;
    }

    .expert-box p {
        margin: 25px 0;
    }
    .home-slider-img2 {
        height: 800px;
        background-position: 73% 100%;
    }
    
    .home-slider-img2 .home-slider-info {
        max-width: 500px;
    }
    
    .hours-section {
        padding-bottom: 40px;
    }
    
    .doctor-profile-item-info {
        padding: 15px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    
    .doctor-profile-item img {
        border-radius: 20px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .hours-item h5 {
        font-size: 18px;
    }
    
    .hours-item p {
        font-size: 16px;
    }
    .doc-owl-item {
        margin: 0 12px;
    }
}

/* [05] 1429px Css End HERE */

/* [06] 1199px Css START HERE */
@media only screen and (max-width: 1199px) {
    section {
        padding: 60px 0;
    }

    .product-list-info h6 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .product-list-info p {
        font-size: 18px;
    }

    .product-list-footer {
        margin-top: 40px;
    }

    section.bg-light-green.blog-item-margin {
        padding: 130px 0 60px;
    }

    ul.pagination {
        margin: 50px auto;
        justify-content: center;
    }

    .blog-sticky {
        position: relative;
        top: 0;
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }

    .blog-about-box {
        width: 46%;
        margin: 15px;
    }

    .blog-search-box {
        display: none;
        width: 100%;
        margin: 15px;
    }

    .blog-categories-box {
        width: 46%;
        margin: 15px;
    }

    .blog-categories-contact {
        margin: 15px;
    }

    .blog-details-main h4 {
        font-size: 26px;
    }

    .blog-details-main {
        margin-bottom: 60px;
    }

    .doc-page-item-img {
        height: 330px;
    }

    section.doctorv1-doc-info h2.main-title {
        margin-bottom: 50px;
    }

    .about-info {
        padding-left: 0;
    }

    .about-info h6 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .about-info h2 {
        font-size: 26px;
    }

    .about-info2 h6 {
        font-size: 18px;
        margin-bottom: 0;
    }

    .about-info2 p {
        font-size: 18px;
    }

    .about-sign {
        width: 160px;
    }

    .bg-light-green {
        padding: 80px 0;
    }

    ul.how_it_work {
        transform: scale(0.96);
    }

    ul.how_it_work li:nth-child(1) {
        margin-top: 70px;
        left: -30px;
        position: relative;
    }

    ul.how_it_work li:nth-child(2) {
        margin-top: 180px;
        right: 0;
    }

    ul.how_it_work li:nth-child(3) {
        margin-top: 60px;
        right: -20px;
    }

    ul.how_it_work li:nth-child(4) {
        margin-top: 300px;
    }

    .policy-section h4 {
        font-size: 32px;
    }

    .policy-section h5 {
        font-size: 18px;
    }

    .faq-section h4 {
        margin-bottom: 60px;
    }

    .error-section::after {
        background-size: contain;
    }

    .comment-box {
        margin-top: -30px;
        padding: 10px 20px 20px 20px;
    }

    .blog-details-wrap {
        padding-top: 10px;
    }

    .comment-item-info h6 {
        font-size: 20px;
        margin: 0 0 8px 0;
    }

    .comment-item-info h6+span {
        margin-bottom: 10px;
    }

    .blog-sticky.blog-sticky2 {
        margin: 0;
        justify-content: space-between;
    }

    .blog-sticky2 .blog-about-box {
        margin: 15px 0;
        width: 49%;
    }

    .blog-sticky2 .blog-categories-box {
        margin: 15px 0;
        width: 49%;
    }

    .blog-sticky2 .blog-categories-contact {
        margin: 0;
    }

    .department-doc-info h5 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .department-doc-info span {
        font-size: 14px;
        margin: 0 0 10px 0;
    }

    .department-doc-info {
        padding: 20px;
    }

    .custom-pills.nav-pills .nav-link {
        padding: 12px 18px;
    }

    .contact-box {
        padding: 40px 25px;
    }

    .home-contact-input textarea {
        padding: 20px;
    }

    .mt-lg-5 {
        margin-top: 2rem !important;
    }

    .btn-contact-green {
        font-size: 16px;
    }

    .home-contact-input input,
    .home-contact-input textarea {
        height: 55px;
        font-size: 16px;
    }

    .home-contact-input textarea {
        height: auto;
    }

    .nice-select.my_select {
        height: 55px;
        line-height: 52px;
    }

    .pills-margin {
        margin-bottom: 50px;
    }

    .home-slider-img:after {
        width: 100%;
        background-position: right;
        opacity: 0.1;
    }

    .home-slider-img:before {
        opacity: 0.06;
    }

    .features_box {
        padding: 50px 15px;
    }

    .features_box:after {
        top: -70px;
    }

    .about-info {
        padding-top: 25px;
    }

    .aboutv3-item-width {
        width: 50%;
        padding: 20px 15px;
    }

    .departmentv3-surgery h2.main-title {
        margin-bottom: 70px;
    }
    .department-text-wrap {
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
    
    .department-text {
        width: 100%;
        margin-bottom: 20px;
    }
    
    .department-btns {
        margin: 0;
    }
    
    .department-detail-info {
        padding: 0;
    }
    .home-slider-img2 {
        background-position: 30% 100%;
    }
    .department-pills {
        margin-bottom: 40px;
        flex-wrap: nowrap;
        justify-content: flex-start;
        overflow: auto;
    }
    
    .department-pills .nav-link {
        white-space: nowrap;
    }
    
    .doctor-wrap {
        flex-wrap: wrap;
    }
    
    .doc-items {
        width: 100%;
    }
    
    .doc-info-item {
        width: 100%;
    }
    .docs-infomation:after {
        width: 100%;
        height: 30%;
        top: unset;
        bottom: 0;
        border-radius: 0;
    }
    .aboutv3-item-icon:before {
        display: none;
    }
    .about-info {
        padding-top: 0;
    }
    
    .about_us_marginv3 {
        padding-top: 0;
    }
    
    .about-info-wrap .btn-green-radius {
        margin: 0;
    }
}

/* [06] 1199px Css End HERE */

/* [07] 991px Css START HERE */
@media only screen and (max-width: 991px) {
    .hamburger {
        top: 50%;
        display: block;
        left: 50%;
        width: 30px;
        height: 24px;
        cursor: pointer;
    }

    .hamburger .hm {
        position: absolute;
        display: block;
        width: 30px;
        height: 3px;
        opacity: 1;
        border-radius: 3px;
        background: var(--green);
    }

    .hamburger .hm-1 {
        top: 0;
        -moz-transition: -moz-transform 0.3s, top 0.3s 0.3s;
        -o-transition: -o-transform 0.3s, top 0.3s 0.3s;
        -webkit-transition: -webkit-transform 0.3s, top 0.3s;
        -webkit-transition-delay: 0s, 0.3s;
        transition: transform 0.3s, top 0.3s 0.3s;
    }

    .hamburger .hm-2 {
        top: 10px;
        -moz-transition: opacity 0.3s ease-out;
        -o-transition: opacity 0.3s ease-out;
        -webkit-transition: opacity 0.3s ease-out;
        transition: opacity 0.3s ease-out;
    }

    .hamburger .hm-3 {
        top: 20px;
        -moz-transition: -moz-transform 0.3s, top 0.3s 0.3s;
        -o-transition: -o-transform 0.3s, top 0.3s 0.3s;
        -webkit-transition: -webkit-transform 0.3s, top 0.3s;
        -webkit-transition-delay: 0s, 0.3s;
        transition: transform 0.3s, top 0.3s 0.3s;
    }

    .hamburger.open .hm-1 {
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        -moz-transition: top 0.3s, -moz-transform 0.3s 0.3s;
        -o-transition: top 0.3s, -o-transform 0.3s 0.3s;
        -webkit-transition: top 0.3s, -webkit-transform 0.3s;
        -webkit-transition-delay: 0s, 0.3s;
        transition: top 0.3s, transform 0.3s 0.3s;
    }

    .hamburger.open .hm-1,
    .hamburger.open .hm-3 {
        top: 10px;
    }

    .hamburger.open .hm-3 {
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -moz-transition: top 0.3s, -moz-transform 0.3s 0.3s;
        -o-transition: top 0.3s, -o-transform 0.3s 0.3s;
        -webkit-transition: top 0.3s, -webkit-transform 0.3s;
        -webkit-transition-delay: 0s, 0.3s;
        transition: top 0.3s, transform 0.3s 0.3s;
    }

    .hamburger.open .hm-2 {
        opacity: 0;
    }

    .navbar-toggler {
        margin-left: auto;
        padding: 0;
        border: none;
        position: relative;
        z-index: 9999;
    }

    body:after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0;
        transition: all 0.5s;
        z-index: -9;
    }

    html.show-menu body:after {
        z-index: 99;
        opacity: 0.6;
        transition: all 0.5s;
    }

    .nav-item {
        margin: 5px 0;
        text-align: center;
    }

    #navbarNav {
        position: fixed;
        top: 0;
        right: 0;
        width: 0;
        background: #fff;
        padding: 80px 25px 25px;
        height: 100vh !important;
        overflow: auto;
        box-shadow: inset 0 0 0 0px var(--green), inset 0 0 0 12px #ffffff;
        transition: all 0.5s;
        transform: translateX(100%);
        display: block !important;
        max-width: 320px;
        width: 100%;
        transition: all 0.5s;
    }

    .department-header .navbar-nav a.nav-link.active:before {
        display: none;
    }

    header.headerv2.department-header.fixed .navbar-nav a.nav-link.active:before {
        display: none;
    }

    header.headerv2.department-header.fixed .navbar-nav .nav-link {
        color: var(--white) !important;
    }

    .menu-show {
        display: none;
        padding: 0;
        transition: all 0.5s;
        border: none;
        box-shadow: none;
        position: relative;
        margin: 0 auto;
        transform: translateX(0) !important;
        left: unset;
        width: 100%;
        height: 100%;
        opacity: 1;
        visibility: visible;
        border-radius: 0 0 15px 15px;
        overflow: hidden;
    }

    .menu-show.dropdown-menu.show {
        height: 100%;
        transition: all 0.5s;
    }

    html.show-menu #navbarNav {
        width: 100%;
        max-width: 320px;
        transition: all 0.5s;
        transform: translateX(0);
    }

    .menu-show:after {
        display: none;
    }

    .navbar-nav .nav-link {
        background: var(--green);
        color: var(--white) !important;
        font-weight: 500;
    }

    .navbar-nav a.nav-link.active:before {
        display: none;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .menu-show a {
        background: rgb(36 172 124 / 20%);
        color: #233862;
        font-size: 16px;
        border-bottom: 1px solid #fff;
    }

    .menu-show a:hover,
    .menu-show a.active {
        background: var(--blue);
        color: #ffffff;
        border-radius: 0;
    }

    .navbar-light .navbar-nav .nav-link:focus,
    .navbar-light .navbar-nav .nav-link:hover {
        color: var(--white) !important;
    }

    .nav-link.active {
        background: var(--blue);
    }

    .nav-item.active .menu-show {
        display: block;
    }

    .department-slider-info .slider-title {
        font-size: 44px;
    }

    .inner-slider-img {
        height: 360px;
    }

    .product-header-wrap h4 {
        font-size: 26px;
    }

    .product-list-width {
        width: 50%;
    }

    .navbar {
        padding: 15px 0;
    }

    .d-margin {
        margin-top: 80px;
    }

    .footer-info {
        margin-bottom: 30px;
    }

    .footer-logo {
        margin-bottom: 20px;
    }

    footer a {
        margin: 13px 0;
    }

    .search-box input {
        font-size: 16px;
    }

    .search-box a {
        font-size: 18px;
    }

    input[type="search"] {
        background-size: 20px;
    }

    .blog-categories-box {
        width: 100%;
    }

    .blog-about-box {
        width: 100%;
    }

    .about-info-wrap {
        margin-bottom: 0;
    }

    .about-img {
        max-width: 350px;
    }

    h2.main-title {
        font-size: 32px;
    }

    .quote-info {
        margin-bottom: 35px;
    }

    .quote-form {
        padding: 22px 25px;
        max-width: 450px;
        margin: 0;
    }

    .quote-form input {
        font-size: 16px;
        background-size: 23px;
        background-position: 0 center;
        padding-left: 40px;
    }

    .quote-form a {
        font-size: 18px;
    }

    .quote-info h2 {
        font-size: 26px;
    }

    .quote-info h6 {
        font-size: 14px;
        padding: 8px 14px;
        margin-bottom: 15px;
    }

    .quote-green {
        padding: 60px 0;
    }

    .pricing-wrap {
        flex-wrap: wrap;
    }

    .pricing-item {
        width: 50%;
    }

    .doctorv3-banner-body h3 {
        font-size: 38px;
    }

    .doctorv3-banner {
        padding: 80px 0;
    }

    #doctor-owl-v3 .owl-next,
    #doctor-owl-v3 .owl-prev {
        width: 55px;
        height: 55px;
        font-size: 25px !important;
    }

    .doctorv3-banner-body h3 {
        font-size: 36px;
        margin-bottom: 40px;
    }

    .doctorv3-banner-body-wrap {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .doctorv3-banner-body-wrap div {
        width: 45%;
    }

    .policy-section h6 {
        margin-bottom: 10px;
        margin-top: 25px;
    }

    .policy-img {
        height: 350px;
    }

    .policy-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    ul.how_it_work li {
        width: 50%;
        margin: 0 !important;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        left: 0 !important;
        right: 0 !important;
    }

    .work-icon2 {
        order: -1;
    }

    .work-info h3 {
        display: none;
    }

    ul.how_it_work {
        flex-wrap: wrap;
        justify-content: center;
    }

    .how-work-line:after {
        display: none;
    }

    .doc-detailss-profile {
        width: 100px;
        height: 100px;
        margin-right: 15px;
    }

    .doc-detailss-info h5 {
        font-size: 22px;
    }

    .doc-detailss-contacts a {
        width: 50px;
        height: 50px;
        font-size: 16px;
    }

    .doc-detailss-contacts a:nth-last-child(1) {
        margin-left: 15px;
    }

    .bg-light-green2 {
        padding: 60px 0;
    }

    .doc-skilles-icon {
        min-width: 50px;
    }

    .news-item {
        margin: 15px 0;
    }

    .news-gap {
        margin-top: 0;
    }

    .home-vedio2 a {
        width: 80px;
        height: 80px;
    }

    .home-vedio .img-fluid {
        height: 380px;
        object-fit: cover;
    }

    .medical-owl-v3-info h3 {
        font-size: 26px;
    }

    .medical-owl-v3-info {
        padding: 100px 15px;
        width: 80%;
    }

    #medical-owl .owl-next,
    #medical-owl .owl-prev {
        width: 50px;
        height: 50px;
        font-size: 26px !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .medical-owl-slider-departmnet {
        padding: 60px 0;
        margin-bottom: 60px;
    }
    .department-detail-img {
        max-width: 400px;
        width: 100%;
    }
    .department-detail-slider {
        height: 400px;
    }
    
    .department-detail-slider img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .home-slider-img:after {
        opacity: 0;
        right: 0;
    }
    
    .home-slider-img:before {
        left: unset;
        right: -120px;
        background-position: right;
        opacity: 0.1;
    }
    
    .home-slider-img {
        min-height: 640px;
    }
    
    .home-slider-info {
        top: 55%;
    }
    
    .slider-title {
        font-size: 52px;
    }
    
    .slider-info {
        font-size: 18px;
    }
    
    .features_box h2.main-title {
        margin-bottom: 40px;
    }
    
    .features_box {
        padding: 40px 0;
    }
    .about_us_margin {
        padding-top: 60px;
    }
    
    .about-info-wrap {
        margin-top: 30px;
    }
    .green-box:after {
        width: calc(100% - 15px);
        top: 60px;
    }
    
    .expert-box {
        margin-top: 20px;
        margin-right: 15px;
    }
    
    .expert-section {
        padding-bottom: 60px;
    }
    
    .features-section .main-title {
        margin-bottom: 60px;
    }
    .contact-section {
        padding: 20px 0 60px;
    }
    
    .contact-section h2.main-title {
        margin-bottom: 40px;
    }
    .features-item p {
        font-size: 16px;
    }
    
    .features-item {
        padding: 0 20px 20px;
        margin: 15px 0;
    }
    
    .features-item-icon {
        width: 70px;
        height: 70px;
        margin: 25px 0;
    }
    .hours-item h5 {
        font-size: 16px;
        padding: 15px;
    }
    
    .hours-item p {
        font-size: 16px;
        padding: 15px;
    }
    
.hours-item {
    width: 50%;
    margin: 0;
}

.hours-wrap {
    flex-wrap: wrap;
    margin: 50px -15px 0;
}

.quote-box {
    padding: 46px 0 80px;
}

.quote-info2 {
    margin: 0;
}

.quote-form2 {
    margin: -30px auto 0;
    width: 100%;
}
.department-img {
    max-width: 420px;
    margin-bottom: 30px;
}

.department-img img {
    border-bottom-right-radius: 0;
    border-top-right-radius: 100%;
}
.aboutv3-info p {
    font-size: 16px;
}

.aboutv3-item-icon {
    width: 100px;
    height: 100px;
}

.aboutv3-item-info h5 {
    font-size: 20px;
    margin-bottom: 12px;
}

.aboutv3-item-info p {
    max-width: 100%;
}

.about_us_marginv3 .about-img {
    background: #e0e0e0;
    margin-bottom: 20px;
}

.about_us_marginv3 .about-info {
    padding-bottom: 60px;
}
.home-slider-infov3 {
    top: 50%;
}
}

/* [07] 991px Css End HERE */

/* [08] 767px Css START HERE */
@media only screen and (max-width: 767px) {
    .navbar-brand {
        max-width: 180px;
        width: 100%;
    }

    .d-margin {
        margin-top: 70px;
    }

    .department-slider-info .slider-title {
        font-size: 38px;
    }

    .inner-slider-img {
        height: 320px;
    }

    .product-header-wrap h4 {
        font-size: 22px;
    }

    .product-header-wrap div .nice-select.my_select {
        height: 45px;
    }

    .grid-icon {
        margin: 0 15px;
    }

    .order-m {
        order: -1;
        margin-bottom: 40px;
    }

    .order-m2 {
        order: -2;
    }

    .footer-info p {
        font-size: 15px;
    }

    .footer-info {
        margin-bottom: 20px;
    }

    h4.footer-title {
        font-size: 18px;
        margin-bottom: 20px;
    }

    footer a {
        font-size: 15px;
    }

    .search-box {
        margin: -37px 15px 0;
        width: calc(100% - 30px);
        max-width: 100%;
    }

    .search-box input {
        padding: 5px 15px 6px 50px;
    }

    input[type="search"] {
        background-position: 18px center;
    }

    .search-box a {
        padding: 0 30px;
    }

    .blog-categories-box ul li a {
        padding: 8px 16px;
    }

    .blog-categories-contact h4 {
        font-size: 30px;
    }

    .blog-about-box h6 {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .blog-detail-img {
        width: 100%;
        height: 340px;
    }

    .blog-details-wrap {
        padding-top: 10px;
    }

    .blog-details-main {
        margin-bottom: 40px;
    }

    .doc-page-item-info h6 {
        font-size: 22px;
    }

    .doc-page-item-img {
        height: 300px;
    }

    .doc-page-item-wrap {
        flex-wrap: wrap;
    }

    .doc-page-item-info.doc-page-item-info-wrap {
        width: 100%;
    }

    .pricing-info h5 {
        font-size: 20px;
    }

    .pricing-info span {
        font-size: 22px;
    }

    .pricing-info span h2 {
        font-size: 58px;
    }

    .pricing-info ul {
        margin-top: 40px;
    }

    .pricing-info {
        padding: 30px 0;
    }

    .pricing-item {
        width: 100%;
        max-width: 330px;
    }

    .doc-page-item-info.doc-page-item-info-wrap {
        padding: 20px 0 0;
    }

    .doc-page-item-wrap {
        padding: 20px;
    }

    .doc-page-item-info.doc-page-item-info-wrap p {
        margin-bottom: 15px;
    }

    .doc-page-item-wrap.doc-page-item-wrap-dark .doc-page-item-info.doc-page-item-info-wrap {
        order: 1;
    }

    #doctor-owl-v3 .doc-page-item-info {
        padding-right: 15px;
    }

    .error-section h2 {
        font-size: 220px;
    }

    .error-section h6 {
        font-size: 22px;
    }

    .btn-green {
        font-size: 16px;
    }

    .comment-box {
        margin-top: -5px;
    }

    .blog-sticky2 .blog-about-box {
        width: 100%;
        margin-bottom: 0;
    }

    .blog-sticky2 .blog-categories-box {
        width: 100%;
    }

    ul.how_it_work li {
        padding: 8px
    }

    .news-item {
        max-width: 420px;
        margin: 10px auto;
    }

    .home-vedio .img-fluid {
        height: 350px;
    }

    .home-contact-input input,
    .home-contact-input textarea {
        padding: 0 20px;
    }

    .home-contact-input textarea {
        padding: 20px;
    }
    #medical-owl .owl-next, #medical-owl .owl-prev {
        display: none;
    }
    
    .medical-owl-v3-info {
        width: 100%;
    }
    
    .departmentv3-surgery h2.main-title {
        margin-bottom: 40px;
    }
    .slider-title {
        font-size: 48px;
    }
    
    .slider-info {
        margin-bottom: 40px;
    }
    
    
    .features_wrap {
        flex-wrap: wrap;
        margin: 0;
    }
    
    .features_item_width {
        width: 100%;
    }
    
    .features_item_width:nth-last-child(2) {
        border: 2px solid rgb(30 38 109 / 0.10);
        border-right: 0;
        border-left: 0;
    }
    
    .features-icon {
        width: 60px;
        height: 60px;
        margin: 15px auto 25px;
    }
    
    .features_box:after {
        height: 220px;
        top: -40px;
    }
    .features-section .main-title {
        margin-bottom: 30px;
    }
    
    .green-box:after {
        height: 40%;
        top: 15%;
    }
    
    .features-section {
        padding-bottom: 40px;
    }
    
    .contact-box {
        padding: 30px 15px;
    }
    
    .pills-margin {
        margin-bottom: 25px;
    }
    
    .home-contact-input {
        margin: 5px 0;
    }
    .quote-section {
        padding: 40px 0;
    }
    
    .quote-box {
        border-radius: 120px 120px 0  0;
    }
    
    .department-info h5 {
        font-size: 22px;
    }
    
    .department-info p {
        margin-bottom: 25px;
    }
    
    .department-info {
        padding: 0;
    }
    .doc-info-item {
        display: none;
    }
    
    .arrows {
        justify-content: flex-start;
        margin: 0;
    }
    
    .docs-infomation:after {
        top: 0;
        bottom: unset;
    }
    
    .slick-arrow {
        background: var(--green);
        border-color: var(--green);
    }
    .doc-owl-v3 .main-title {
        margin-bottom: 40px;
    }
    
    .doc-v3-info {
        padding: 20px;
    }
    
    .doc-v3-info h5 {
        font-size: 20px;
    }
    
    .doc-v3-info span {
        font-size: 16px;
    }
    
    #doc-owl-v3 .owl-nav {
        margin-top: 40px !important;
    }
    
    #doc-owl-v3 .owl-next, #doc-owl-v3 .owl-prev {
        width: 50px;
        height: 50px;
        font-size: 20px !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #doc-owl-v3  .owl-nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .how-work-margin {
        margin: 0;
    }
}

/* [08] 767px Css End HERE */

/* [09] 575px Css START HERE */
@media only screen and (max-width: 575px) {
    #spinner {
        background-size: 180px;
    }

    .navbar {
        padding: 15px 0;
    }

    header.fixed .navbar {
        padding: 10px 0;
    }

    section {
        padding: 50px 0;
    }

    .product-header-wrap {
        flex-wrap: wrap;
        margin-bottom: 15px;
    }

    .product-header-wrap h4 {
        width: 100%;
        margin-bottom: 20px;
    }

    .product-header-wrap div {
        margin: 0;
    }

    .product-list-width {
        width: 100%;
    }

    .login-logo {
        max-width: 172px;
    }

    .log-in-box h4 {
        font-size: 22px;
    }

    a.forgot-password-link {
        font-size: 16px;
    }

    .blog-details-main h4 {
        font-size: 24px;
    }

    .bg-light-green.blog-item-margin {
        padding-top: 100px;
    }

    .blog-details-main h6 {
        font-size: 20px;
    }

    .doc-page-item-img {
        height: 400px;
    }

    .doctorv1-doc-info h2.main-title {
        margin-bottom: 50px;
    }

    h2.main-title {
        font-size: 26px;
    }

    .about-info h2 {
        font-size: 24px;
    }

    .about-profile {
        width: 60px;
        height: 60px;
    }

    .about-info-wrap {
        margin-top: 30px;
    }

    .about-info2 {
        padding-left: 15px;
    }

    .about-sign {
        width: 140px;
    }

    .pricing-wrap {
        margin-top: 30px;
    }

    .doctorv3-banner-body h3 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .doctorv3-banner-body-wrap div {
        width: 100%;
        margin: 15px 0;
    }

    .doctorv3-banner {
        padding: 40px 0;
    }

    .doctorv3-banner-body-wrap h4 {
        font-size: 48px;
    }

    div#doctor-owl-v3 .doc-page-item-img {
        height: 330px;
    }

    .doc-page-item-info h6 {
        font-size: 20px;
    }

    .faq-section h4 {
        font-size: 26px;
        margin-bottom: 50px;
    }

    .accordion-body {
        font-size: 16px;
        padding: 15px;
    }

    .accordion-button {
        padding: 15px;
        font-size: 16px;
        line-height: 1.8;
    }

    .blog-sticky {
        margin: 0;
    }

    .blog-about-box {
        margin: 0;
    }

    .blog-categories-box {
        margin: 15px 0;
    }

    .blog-categories-contact {
        margin: 0;
    }

    .comment-item-wrap {
        flex-wrap: wrap;
    }

    .comment-item-profile {
        margin: 0 0 16px 0;
        width: 50px;
        height: 50px;
        min-width: 50px;
    }

    .comment-item-info {
        width: 100%;
    }

    .product-list-width {
        padding: 8px 15px;
    }

    ul.how_it_work li {
        width: 100%;
        flex-wrap: wrap;
        padding: 15px;
    }

    .work-info {
        width: 100%;
    }

    .work-icon {
        margin: 0 0 30px 0;
    }

    .about-doctorv3 h4 {
        font-size: 24px;
    }

    .doc-skilles {
        padding: 15px;
        margin: 6px 0;
    }

    .doc-skilles-icon {
        width: 35px;
        min-width: 35px;
        height: 35px;
        margin-right: 7px;
    }

    .doc-skilles h6 {
        font-size: 16px;
    }

    .about-doctorv3 ul li {
        font-size: 16px;
        width: 100%;
        margin-bottom: 10px;
    }

    .bg-light-green2 {
        padding: 50px 0;
    }

    .doc-detailss-info {
        width: 100%;
        text-align: center;
        margin: 18px 0;
    }

    .doc-detailss-wrap {
        flex-wrap: wrap;
        justify-content: center;
    }

    .doc-detailss-profile {
        width: 80px;
        height: 80px;
        margin: 0;
    }

    .doc-detailss-info h5 {
        font-size: 18px;
        margin-bottom: 8px;
    }

    .doc-detailss-contacts {
        margin: 0;
    }

    .contact-section {
        padding: 50px 0;
    }

    .contact-section.bg-light-green h2.main-title {
        margin-bottom: 50px;
    }

    .contact-box {
        padding: 40px 15px;
        border-radius: 15px;
    }

    .pills-margin {
        margin-bottom: 40px;
    }
    .aboutv3-item-width {
        width: 100%;
    }
    
    .aboutv3-item.department-aboutv3 .aboutv3-item-info p {
        max-width: 100%;
        width: 100%;
    }
    .department-btns a {
        margin: 5px !important;
    }
    
    .department-btns {
        margin: 0 -5px;
    }
    .features-item-icon {
        width: 60px;
        height: 60px;
        margin: 20px 0 30px;
    }
    
    .features-item h4 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .hours-wrap {
        margin: 40px 0 0;
    }
    
    .quote-box {
        border-radius: 10px;
    }
    
    .quote-box:before {
        width: 100%;
        height: 100%;
        right: 0;
        top: 0;
        background-position: right;
    }
    
    .quote-box:after {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: left;
        left: 0;
        transform: rotate(-20deg);
    }
    .home-slider-img3 {
        padding-bottom: 0;
        height: 760px;
    }
}

/* [09] 575px Css End HERE */

/* [10] 479px Css START HERE */
@media only screen and (max-width: 479px) {
    .footer-logo {
        width: 160px;
    }

    .footer-bottom {
        padding: 15px 0;
    }

    .footer-bottom p,
    .footer-bottom a {
        font-size: 12px;
    }

    .department-slider-info .slider-title {
        font-size: 34px;
    }

    .inner-slider-img {
        height: 280px;
    }

    .log-in-box {
        padding: 35px 20px;
    }

    .input-control input {
        height: 55px;
    }

    .input-control {
        margin-bottom: 15px;
    }

    .btn-green3 {
        font-size: 16px;
    }

    .login-background {
        padding: 50px 0 15px;
    }

    ul.pagination li a.page-link {
        width: 40px;
        height: 40px;
        font-size: 16px;
        margin: 5px;
    }

    ul.pagination {
        flex-wrap: wrap;
        margin: 40px auto;
    }

    .blog-item-info {
        padding: 20px 15px;
    }

    .blog-about-box .blog-about-info h6 {
        font-size: 18px;
    }

    .blog-about-info span {
        font-size: 14px;
    }

    .blog-about-profile {
        width: 65px;
        height: 65px;
    }

    .blog-about-wrap {
        margin-bottom: 18px;
    }

    .blog-categories-box {
        padding: 20px 15px;
    }

    .blog-about-box {
        padding: 20px 15px;
    }

    .blog-categories-box ul li a {
        padding: 7px 14px;
        margin: 0 6px 8px 0;
    }

    .blog-categories-contact h4 {
        font-size: 26px;
    }

    .search-box {
        padding: 16px 0px;
        margin-top: -31px;
    }

    .search-box a {
        padding: 0 15px;
        font-size: 16px;
    }

    .bg-light-green.blog-item-margin {
        padding: 90px 0 50px;
    }

    .blog-item {
        margin: 8px 0;
    }

    .blog-details-main h4 {
        font-size: 22px;
    }

    .blog-detail-img {
        height: 310px;
    }

    .blog-details-wrap a {
        width: 100%;
        margin: 0 0 8px 0;
    }

    .blog-details-wrap {
        flex-wrap: wrap;
    }

    .blog-details-wrap {
        padding-top: 0;
    }

    .blog-details-main {
        margin-bottom: 30px;
    }

    .doc-page-item-img {
        height: 320px;
    }

    .about-info-wrap {
        flex-wrap: wrap;
    }

    .about-sign {
        width: 100%;
        margin-top: 20px;
    }

    .about-sign img {
        max-width: 140px;
    }

    .doc-page-item {
        margin: 15px 0;
    }

    .bg-light-green {
        padding: 60px 0;
    }

    .doc-page-item-wrap-img {
        width: 100%;
        height: 300px;
    }

    .doc-page-item-wrap-img-info h6 {
        font-size: 20px;
    }

    .doc-page-item-wrap-img-info p {
        font-size: 16px;
    }

    .doc-page-item-info.doc-page-item-info-wrap span {
        margin-bottom: 20px;
    }

    .quote-green {
        padding: 50px 0;
    }

    .quote-info h2 {
        font-size: 22px;
    }

    .quote-info {
        margin-bottom: 20px;
    }

    .quote-form a {
        font-size: 16px;
        padding-left: 32px;
    }

    .quote-form {
        padding: 20px 15px;
    }

    .doctorv3-banner-body h3 {
        font-size: 26px;
    }

    .doctorv3-banner-body-wrap h4 {
        font-size: 40px;
    }

    .footer-info p {
        margin-bottom: 5px;
    }

    h4.footer-title {
        margin-bottom: 18px;
    }

    .order-m {
        margin-bottom: 30px;
    }

    .footer-bottom {
        padding: 20px 0;
    }

    .policy-section h5 {
        font-size: 16px;
    }

    .policy-section h4 {
        font-size: 28px;
    }

    .policy-img {
        height: 300px;
    }

    .faq-section h4 {
        font-size: 24px;
    }

    .error-section h2 {
        font-size: 140px;
    }

    .error-section p {
        margin: 20px auto;
    }

    .blog-about-wrap,
    .blog-about-box p {
        margin-bottom: 20px;
    }

    .product-list-footer a {
        width: 50px;
        height: 50px;
        font-size: 20px;
    }

    .doc-page-item {
        margin: 0 0 25px 0;
    }

    ul.how_it_work li {
        padding: 15px 0;
    }

    .custom-pills.nav-pills .nav-link {
        padding: 10px 10px;
        font-size: 14px;
    }

    .home-vedio .img-fluid {
        height: 300px;
    }

    .department-doc-info {
        padding: 20px 15px;
    }

    .custom-pills {
        padding: 5px;
    }

    .home-contact-input textarea {
        padding: 15px;
    }

    .nice-select.my_select {
        padding-left: 15px;
    }

    .home-contact-input input {
        padding: 0 15px;
    }
    #department-detail-owl .owl-prev {
        left: 0;
    }
    
    #department-detail-owl .owl-next {
        right: 0;
    }
    
    .department-detail-slider {
        height: 302px;
    }
    
    #department-detail-owl .owl-next, #department-detail-owl .owl-prev {
        width: 45px;
        height: 45px;
        font-size: 20px !important;
    }
    .slider-title {
        font-size: 38px;
    }
    
    .slider-info {
        font-size: 16px;
    }
    
    section {
        padding: 40px 0;
    }
    
    .work-icon {
        width: 100px;
        height: 100px;
        margin-bottom: 20px;
        padding: 25px;
    }
    
    .home-vedio a {
        width: 75px;
        height: 75px;
    }
    .doc-v3-profile{
        height: auto;
    }
}

/* [10] 479px Css End HERE */

/* [11] 349px Css START HERE */
@media only screen and (max-width: 349px) {

    .footer-bottom p,
    .footer-bottom a {
        font-size: 11px;
    }

    .footer-info p {
        font-size: 14px;
    }

    footer a {
        font-size: 14px;
    }

    .blog-item-info ul li:nth-last-child(1) {
        margin-left: 15px;
    }

    .blog-item-info ul li {
        font-size: 14px;
    }

    ul.pagination li a.page-link {
        width: 35px;
        height: 35px;
        font-size: 15px;
    }

    .log-in-box p br {
        display: none;
    }

    .doc-page-item-img {
        height: 300px;
    }.green-box:after {
        top: 13%;
    }
}

/* [11] 349px Css End HERE */